*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #222222;
}
.container{
    width: 100vh;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    background: #fff;
    width: 600px;
    height: 55px;
    display: flex;
}
form input{
    flex: 1;
    border: none;
    outline: none;
}
form button{
    background: #110770;
    padding: 10px 50px;
    border: none;
    outline: none;
    color:#fff
}